<div class="jumbotron">
        
      <h1>Mobile Search</h1>
      <form class="form-signin" action="/deviceSearcher" method="post">
        <label for="inputModel" class="sr-only">Model Name</label>
        <input type="Model" name="inputModel" id="inputModel" class="form-control" placeholder="Model Name"  autofocus>
	    <label for="inputProcessor" class="sr-only">Processor</label>
        <input type="Processor" name="inputProcessor" id="inputProcessor" class="form-control" placeholder="Processor"  autofocus>
	    <label for="inputRAM" class="sr-only">RAM</label>
        <input type="RAM" name="inputRAM" id="inputRAM" class="form-control" placeholder="RAM (GB)"  autofocus>
	    <label for="inputStorage" class="sr-only">Storage</label>
        <input type="Storage" name="inputStorage" id="inputStorage" class="form-control" placeholder="Storage (GB)"  autofocus>
        <label for="inputCamera" class="sr-only">Camera</label>
        <input type="Camera" name="inputCamera" id="inputCamera" class="form-control" placeholder="Camera (MP)"  autofocus>
	    <label for="inputPrice" class="sr-only">Price</label>
        <input type="Price" name="inputPrice" id="inputPrice" class="form-control" placeholder="Price"  autofocus>     
        <input type="radio" id="radio"
            name="devicetype" value="mobile" checked style="display:none">
        
       <!-- <style type="text/css">
          #map{ width:100%; height: 500px; }
          #radio1 {    visibility: hidden; }
      </style>
      <p>Click on a location on the map to select it. Drag the marker to change location.</p>
        <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
        <div id="map"></div>
        <input type="hidden" id = "lat" name="lat" readonly="yes"><br>
        <input type="hidden" id = "lng" name="lng" readonly="yes"> -->
        
        
        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
      </form>
</div>
