<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<script src="../static/js/slider.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class = "container">
<div class="w3-content" style="width:100%">
    <div class="mySlides w3-transparent">
        <h1>Linder</p>
        <h2>It's just like Tinder. But better! </p>
    </div>
    
    <div class="mySlides w3-transparent">
        <h1><b>Did You Know?</b></h1>
        <h1><i>We bring you the best devices.</i></h1>
    </div>

  
    <div class="mySlides w3-transparent">
        <h1>25% Discount at sign up</p>
        <h2>Only valid till February 29, 2017 !!!</p>
    </div>
    
     <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
     <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>

</div>
</div>
<script>

var slideIndex = 1;
showDivs(slideIndex);

</script>

</body>
</html>
