
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Added Subscription:: Linder</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    
   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
           <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="/showSignin">Sign In</a></li>
 	    <li role="presentation"><a href="/showSignUp">Sign Up</a></li>
          </ul>
        </nav>
        <img src="/static/boi.png" alt="Linder" width="50" height="50"/>
            <link rel="shortcut icon" href="{{ url_for('static', filename='boi.ico') }}"> 

            <h5 class="text-muted" style = " padding: 0; margin: 0;">Linder</h5>
      </div>

      <div class="jumbotron">
        <h1>{{message}}</h1>
        
      </div>

      

      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
      	<footer class="footer">
        <p>&copy; Team Ekush</p>
      </footer>
    </div>
  </body>
</html>

