{% include "base.html" %}
    <div class="container">
      <div class="jumbotron">
        <h3> My Devices </h3>
        <table >
            <tbody>
            {% for device in listOfDevices %}
            <tr>
            <td> {{device.Model}} </td>
            <td> {{device.Processor}} </td>
            <td> {{device.RAM}} </td>
            <td> {{device.Storage}} </td>
            <td> {{device.Additional}} </td>
            <td> 
                <button type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-pencil"></span> Edit 
                </button>
            </td>
            <td> 
                <form action = "/removeDevice" method = "post">
                <input value = "{{device.Id}}" type="hidden" name="dev_id">
                <input value = "{{device.Type}}" type="hidden" name="dev_type">
                <button id="myDIV" class="btn btn-lg btn-primary btn-block" type="submit">Remove</button> 
                </form>    
            </td>
            
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <form action = "/recommendedmobiles">
            <button id="myDIV" class="btn btn-lg btn-primary btn-block" type="submit">Popular Mobiles</button> 
        </form>
        <form action = "/recommendedlaptops">
            <button id="myDIV" class="btn btn-lg btn-primary btn-block" type="submit">Popular Laptops</button> 
        </form>
      </div>
        
      

      <footer class="footer">
        <p>&copy; Team Ekush</p>
      </footer>

    </div>
  </body>
</html>

